In [18]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pycountry as pyc
import warnings
warnings.filterwarnings("ignore")

In [19]:
#read in data and convert place variable to only contain string values
data = pd.read_excel("Mag6PlusEarthquakes_1900-2013.xlsx")

for i in np.arange(0, len(data['place']), 1):
    if isinstance(data['place'][i], float):
        data['place'][i] = str(data['place'][i])
    else:
        next

data.head(2)

,time,Date,Time,Unnamed: 3,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
0,2014-03-17T05:11:34.980Z,2014-03-17,05:11:34,NaN,-20.0030,-70.8741,17.0,6.2,mww,NaN,82.0,1.171,1.37,us,usc000ndw9,2014-03-17T14:57:11.000Z,"80km WNW of Iquique, Chile",earthquake
1,2014-03-16T21:16:30.770Z,2014-03-16,21:16:30,NaN,-19.9246,-70.6278,20.0,6.7,mww,NaN,44.0,0.929,1.16,us,usc000ndnj,2014-03-17T18:43:29.249Z,"60km WNW of Iquique, Chile",earthquake

In [20]:
#create new column that contains country information
countries = data['place'].copy()

for i in np.arange(0, len(data['place']), 1):
    for country in pyc.countries:
        if country.name in data['place'][i]:
            countries[i] = country.name

In [22]:
#manually adjust countries since russia, taiwan, iran are not in pythons dictionary
data['country'] = countries

for i in np.arange(0, len(data['place']), 1):
    if 'Russia' in data['place'][i]:
        data['country'][i] = 'Russia'
    elif 'Taiwan' in data['place'][i]:
        data['country'][i] = 'Taiwan'
    elif 'Iran' in data['place'][i]:
        data['country'][i] = 'Iran'
    else:
        next

data.head(3)

,time,Date,Time,Unnamed: 3,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,country
0,2014-03-17T05:11:34.980Z,2014-03-17,05:11:34,NaN,-20.0030,-70.8741,17.0,6.2,mww,NaN,82.0,1.171,1.37,us,usc000ndw9,2014-03-17T14:57:11.000Z,"80km WNW of Iquique, Chile",earthquake,Chile
1,2014-03-16T21:16:30.770Z,2014-03-16,21:16:30,NaN,-19.9246,-70.6278,20.0,6.7,mww,NaN,44.0,0.929,1.16,us,usc000ndnj,2014-03-17T18:43:29.249Z,"60km WNW of Iquique, Chile",earthquake,Chile
2,2014-03-15T23:51:30.610Z,2014-03-15,23:51:30,NaN,-5.5660,-80.8790,9.8,6.3,mwp,NaN,90.0,6.253,1.00,us,usc000nd0c,2014-03-18T17:52:18.000Z,"6km W of Sechura, Peru",earthquake,Peru

In [23]:
#get land or water
from mpl_toolkits.basemap import Basemap
bm = Basemap()

terrain = []
for i in np.arange(0, len(data['latitude']), 1):
    if bm.is_land(data['longitude'][i], data['latitude'][i]):
        terrain.append('Land')
    else:
        terrain.append('Water')

In [24]:
data['terrain'] = terrain
data.head(3)

,time,Date,Time,Unnamed: 3,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,country,terrain
0,2014-03-17T05:11:34.980Z,2014-03-17,05:11:34,NaN,-20.0030,-70.8741,17.0,6.2,mww,NaN,82.0,1.171,1.37,us,usc000ndw9,2014-03-17T14:57:11.000Z,"80km WNW of Iquique, Chile",earthquake,Chile,Water
1,2014-03-16T21:16:30.770Z,2014-03-16,21:16:30,NaN,-19.9246,-70.6278,20.0,6.7,mww,NaN,44.0,0.929,1.16,us,usc000ndnj,2014-03-17T18:43:29.249Z,"60km WNW of Iquique, Chile",earthquake,Chile,Water
2,2014-03-15T23:51:30.610Z,2014-03-15,23:51:30,NaN,-5.5660,-80.8790,9.8,6.3,mwp,NaN,90.0,6.253,1.00,us,usc000nd0c,2014-03-18T17:52:18.000Z,"6km W of Sechura, Peru",earthquake,Peru,Water

In [25]:
#export to excel
data.to_excel('/Users/Neshy/Documents/My Tableau Repository/Datasources/2019.3/en_US-US/earthquake_data.xlsx', 
            index = False)